/* ---Mobile Section--- */

.mobile {
    min-height: var(--mHeight);
    background: var(--white_sec);
    background-image: url('https://images.samsung.com/is/image/samsung/assets/ph/pcd/smartphones/04_galaxy_note_pc.jpg?$1440_640_JPG$');
    background-repeat: no-repeat;
    background-size: calc(100%);
}

.vidMob {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    max-width: 500%;
    margin: 0 auto;
}

.vidMob video {
    width: calc(60%);
}

.seeBtn {
    display: grid;
    place-content: center;
    margin-top: 2.5%;
}

.seeBtn #mBtn {
    cursor: pointer;
    padding: 2rem 3rem;
    outline: auto;
    outline-style: round;
    border-radius: 25px;
    background: var(--white);
    color: var(--black);
    font-size: 2rem;
    font-weight: var(--weight);
    animation: fade_in 1.5s;
}

.seeBtn #mBtn:hover {
    outline-width: thick;
    outline-style: dotted;
}

.container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 600px;
    grid-column-gap: 20px;
    padding-top: 10rem;
    flex-wrap: wrap;
    text-align: center;
}

.container .item {
    border-radius: 15px;
    background: var(--white);
    text-align: right;
    display: grid;
}

.container .item i {
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.container .item i:hover {
    transform: translateY(-0.5rem);
}

.container .item img {
    place-content: center;
    margin: 0 auto;
    margin-top: -5rem;
    max-width: 55%;
    border-radius: 15px;
    height: 350px;
}

.container .item h1 {
    margin-top: -4rem;
    font-size: 3rem;
    text-align: center;
}

.container .item button {
    width: 50%;
    margin: 0 auto;
    height: 50px;
    cursor: pointer;
    padding: 0rem 1rem;
    outline: auto;
    outline-style: round;
    border-radius: 25px;
    background: var(--black);
    color: var(--white);
    font-size: 2rem;
    font-weight: var(--weight - 100);
}

.secBtn {
    padding-bottom: 10rem;
}

                    @media screen and (max-width: 1300px) {
                        .mobile {
                            background-size: calc(110%);
                        }
                    }
                    @media screen and (max-width: 1024px) {
                        .vidMob {
                            max-width: 800px;
                            padding-top: 3.5rem;
                        }
                        .vidMob video {
                            width: 80%;
                        }
                        .seeBtn #mBtn {
                            margin-top: 0%;
                            padding: 2.5rem 3.5rem;
                        }
                        .container {
                            grid-column-gap: 10px;
                            grid-template-rows: 400px;
                        }
                        .container .item img {
                            height: 150px;
                        }
                        .container .item h1 {
                            font-size: 2rem;
                        }
                        .container .item button {
                            width: 80%;
                            height: 40px;
                            padding: 1rem 2rem;
                            font-size: 1.85rem;
                        }
                        .secBtn #mBtn {
                            margin-top: 80%;
                            padding: 3rem 5rem;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        .vidMob {
                            max-width: 750px;
                            padding-top: 5.5rem;
                        }
                        .vidMob video {
                            width: 90%;
                        }
                        .mobile {
                            background-size: calc(150%);
                            background-position: top left;
                        }
                        .seeBtn #mBtn {
                            margin-top: 20%;
                        }
                        .container {
                            grid-column-gap: 10px;
                            grid-template-rows: 400px;
                        }
                        .container .item img {
                            height: 150px;
                        }
                        .container .item h1 {
                            font-size: 2rem;
                        }
                        .container .item button {
                            width: 70%;
                            height: 40px;
                            padding: 0rem 1rem;
                            font-size: 1.75rem;
                        }
                    }
                    @media screen and (min-width: 320px) and (max-width: 414px) {
                        .vidMob {
                            max-width: 320px;
                            padding-top: 1.5rem;
                        }
                        .vidMob video {
                            width: 90%;
                        }
                        .mobile {
                            background-size: calc(150%);
                            background-position: top left;
                        }
                        .seeBtn #mBtn {
                            padding: 1rem 2rem;
                            font-size: 1.7rem;
                        }
                        .container {
                            grid-template-columns: repeat(2, 50%);
                            grid-column-gap: 10px;
                            grid-template-rows: 200px;
                            grid-auto-rows: 200px;
                            grid-row-gap: 10px;
                            justify-content: center;
                        }
                        .container .item img {
                            margin-top: -2rem;
                            max-width: 50%;
                            height: 100px;
                        }
                        .container .item h1 {
                            margin-top: 0rem;
                            font-size: 1.75rem;
                        }
                        .container .item button {
                            width: 60%;
                            height: 30px;
                            padding: 0rem 0rem;
                            font-size: 1.2rem;
                        }
                    }
