/* ---Support Section--- */

.support {
    min-height: 100vh;
    background: var(--white_sec);
}

.support .container {
    display: flex;
    align-items: center;
}

.support .heading {
    color: var(--black);
    font-size: 3.5rem;
    margin-top: -10rem;
}

.support form {
    text-align: left;
}

.support form input::placeholder {
    text-align: left;
}

.support form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.support form .inputBox input {
    height: 6rem;
    width: 49%;
    padding: 0 5rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}
  
.support form textarea {
    height: 20rem;
    resize: none;
    padding: 1rem;
    font-size: 1.5rem;
    width: 100%;
}

.support form input[type="submit"] {
    width: 15rem;
    padding: 1rem 1rem;
    border-radius: 15px;
    background: var(--black);
    color: var(--white);
    font-size: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}
  
.support form input[type="submit"]:hover {
    background: var(--gray);
}

.support .container h3 {
    margin-top: 1rem;
    color: rgb(85, 5, 5);
    font-size: 2rem;
    font-weight: var(--weight);
}

.containerCtc {
    padding-top: 10rem;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.containerCtc .item {
    background: var(--white);
    width: 25%;
    height: 450px;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid var(--black);
    border-radius: 25px;
    margin-bottom: 10rem;
}

.containerCtc .item h2 {
    font-size: 2rem;
    text-align: left;
    font-weight: var(--weight) - 500;
    padding-left: 2rem;
    padding-top: 1rem;
}

.containerCtc .item #cBtn {
    padding: 1rem 2rem;
    cursor: pointer;
    outline: auto;
    outline-style: round;
    border-radius: 25px;
    background: var(--black);
    color: var(--white);
    font-size: 1.75rem;
    font-weight: var(--weight);
    animation: fade_in 1.5s;
}

.containerCtc .item #cBtn:hover {
    background: var(--gray);
}

.containerCtc .item1 button {
    margin-top: 70%;
}

.containerCtc .item2 button {
    margin-top: 33%;
}

                    @media screen and (min-width: 320px) and (max-width: 414px) {
                        .explore {
                            margin-bottom: 10rem;
                        }
                        .containerCtc {
                            padding-top: 10rem;
                            display: flex;
                            flex-direction: column;
                            column-gap: 20px;
                            align-items: center;
                            justify-content: center;
                        }
                        .containerCtc .item {
                            background: var(--white);
                            width: 50%;
                            height: 300px;
                            align-items: center;
                            text-align: center;
                            font-size: 1.5rem;
                            border: 1px solid var(--black);
                        }
                        .containerCtc .item1 button {
                            margin-top: 50%;
                        }
                        .containerCtc .item2 button {
                            margin-top: 5%;
                        }
                    }