@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --black: #000;
    --gray: rgb(59, 59, 59);
    --white: #fff;
    --white_sec: #cfcdcd;
    --weight: 700;
    --mHeight: 100vh;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
}

::-webkit-scrollbar {
    scrollbar-width: thin;
    background: #fff;
}

::-webkit-scrollbar-track {
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #000, #222);
    border-radius: 1vw;
    border: .25em solid #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

*::selection {
    background:#fff;
    color:#333;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.slide-in {
    opacity: 0;
    margin-top: 20rem;
}

.slide-in.appear {
    opacity: 1;
    margin-top: 0rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--white);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    background: var(--white);
    z-index: 1000;
    padding: 2rem 7%;
}

header .logo .imgLogo {
    width: 150px;
    animation: fade_to_left 1.5s;
}

    @keyframes fade_to_left {
        0% {
            opacity: 0;
            transform: translateX(-50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-transform: capitalize;
    animation: fade_to_right 1.5s;
}

    @keyframes fade_to_right {
        0% {
            opacity: 0;
            transform: translateX(50px);
        }
        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

header .navbar ul li a {
    position: relative;
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
    font-weight: var(--weight);
}

header .navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: -0.5rem; 
    right: 0;
    height: 0.2rem;
    width: 0%;
    background: var(--white);
    transition: 0.2s linear;
}

header .navbar ul li a:hover {
    background: var(--black);
    padding: 1rem 1rem;
    outline: auto;
    outline-style: round;
    border-radius: 20px;
    color: var(--white);
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before {
    background: var(--black);
    color: var(--white);
}

header #menu {
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}

section {
    padding: 0 7%;
}

.heading {
    text-align: center;
    font-size: 3rem;
    color:#fff;
    padding:1rem;
    padding-top: 8.5rem;
    width:50rem;
    margin:0 auto;
}

                    @media (max-width: 1400px){
                        html {
                            font-size: 55%;
                        }
                        header #menu {
                            display: block;
                        }
                        header .navbar {
                            position: fixed;
                            top: -120%; 
                            left: 0;
                            width: 100%;
                            background: #e4e3e3;
                        }
                        header .navbar ul {
                            flex-flow: column;
                            padding: 2rem;
                        }
                        header .navbar ul li {
                            width: 100%;
                            text-align: center;
                        }
                        header .navbar ul li a {
                            display: block;
                            margin: 1rem 0;
                            padding: 1rem;
                            font-size: 2.5rem;
                            z-index: 0;
                        }
                        header .navbar ul li a::before {
                            height: 100%;
                            bottom: 0;
                            z-index: -1;
                            background: #333;
                        }
                        .fa-times {
                            transform: rotate(180deg);
                        }
                        header .navbar.nav-toggle {
                            top: 7.4rem;
                        }
                    }
                    @media (max-width: 500px){
                        html{
                            font-size: 50%;
                        }
                        .home .content h1{
                            font-size: 4rem;
                        }
                        .heading{
                            width: auto;
                        }
                    }

/* ---Footer Section--- */

footer hr {
    color: var(--black);
    font-weight: var(--weight + 200);
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: -5rem;
}
footer .botFooter .heading {
    color: var(--black);
}
